[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/DASICS-ICT/rocket-chip.git
[submodule "difftest"]
	path = difftest
	url = https://github.com/DASICS-ICT/difftest.git
[submodule "ready-to-run"]
	path = ready-to-run
	url = https://github.com/DASICS-ICT/ready-to-run.git
[submodule "huancun"]
	path = huancun
	url = https://github.com/DASICS-ICT/HuanCun.git
[submodule "fudian"]
	path = fudian
	url = https://github.com/DASICS-ICT/fudian.git
[submodule "utility"]
	path = utility
	url = https://github.com/DASICS-ICT/Utility.git
[submodule "yunsuan"]
	path = yunsuan
	url = https://github.com/DASICS-ICT/YunSuan.git
[submodule "coupledL2"]
	path = coupledL2
	url = https://github.com/DASICS-ICT/CoupledL2.git
[submodule "openLLC"]
	path = openLLC
	url = https://github.com/DASICS-ICT/OpenLLC.git
[submodule "ChiselAIA"]
	path = ChiselAIA
	url = https://github.com/DASICS-ICT/ChiselAIA.git
